<h1>Listing articles</h1>
<%= link_to 'New article', new_article_path %> 
<ul>
  <tr>
    <td>Title</td>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <li><%= link_to article.title, article_path(article) %></li>
    </tr>
  <% end %>
</ul>

